---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title='Welcome to Astro.'>
  <main class='mx-auto flex min-h-screen max-w-prose flex-col justify-center'>
    <h1 class='pb-6 text-center text-4xl text-white'>
      Welcome to my Vue + Astro template
    </h1>
    <p class='instructions'>
      To get started, open the directory <code>src/pages</code> in your project<br
      />
      <span>and start to building your amazing project with this template</span>
    </p>
    <ul role='list' class='grid grid-cols-2 gap-2'>
      <Card
        href='https://tailwindcss.com'
        title='Tailwind'
        body='Learn how style your app and explore the amazing API docs of Tailwind.'
      />
      <Card
        href='https://vuejs.org'
        title='Vue'
        body='Learn how to build dynamic and interactive web applications. '
      />
      <Card
        href='https://docs.astro.build/en/guides/integrations-guide/vercel/'
        title='Vercel'
        body='Explore the way to integrate your project in the most hyped cloud service '
        '
      />
      <Card
        href='https://lucide.dev'
        title='lucide'
        body='A beautifully designed icon library with over 900 open-source icons and an easy-to-use API.'
      />
    </ul>
  </main>
</Layout>

<style>
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
</style>
